.container2{
    display: flex;
    justify-content:center;
    margin:150px 0px 0px 0px ;
}
.counter{
    width:350px ;
    height: 300px;
    background-image: url(https://img.freepik.com/free-photo/abstract-uv-ultraviolet-light-composition_23-2149243965.jpg?w=1060&t=st=1710169896~exp=1710170496~hmac=e504730cd25c20aec762998a41f7c27d659330eccb74098352a094f4a11b8224);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius:10px ;
    padding-top:20px ;
    text-align: center;
    gap: 20px 20px;
}
h1{
    color:dodgerblue;
    font-size: 50px;
    font-family:initial ;
}
h2{
  color:hsl(198,90%,55%);
  font-size: 40px;
}
.btn{
    padding: 5px;
    font-size: 30px;
    border-radius: 10px;
    color:aliceblue;
    margin: auto;
    background: transparent;
    margin: 30px ;
}