.container2{
    display: flex;
    justify-content:center;
    margin:150px 0px 0px 0px ;
}
.counter{
    width:350px ;
    height: 300px;
    background-image: url(https://img.freepik.com/free-vector/blue-copy-space-digital-background_23-2148821698.jpg?t=st=1710334384~exp=1710337984~hmac=09b5df88cfab7f1f2fbf65f844be78bf9a07536ba54479378d3ac6d8b3fb2c50&w=1060);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius:10px ;
    padding-top:20px ;
    text-align: center;
    gap: 20px 20px;
}
h1{
    color:dodgerblue;
    font-size: 50px;
    font-family:initial ;
}
h2{
  color:hsl(198,90%,55%);
  font-size: 40px;
}
.btn{
    padding: 5px;
    font-size: 30px;
    border-radius: 10px;
    color:aliceblue;
    margin: auto;
    background: transparent;
    margin: 30px ;
}